.fade {
  &-enter,
  &-appear, {
    opacity: 0.1;
    transform: scale(0.98);
  }

  &-enter-active,
  &-appear-active {
    opacity: 1;
    transform: scale(1);

    transition: 
      opacity 0.4s,
      transform 0.3s; 
    transition-timing-function: ease-in;

  }
}

.fadeSlideIn {
  &-enter,
  &-appear, {
    opacity: 0;
    transform: translateY(0.5rem);
  }

  &-enter-active,
  &-appear-active {
    opacity: 1;
    transform: translateY(0);

    transition: 
      opacity 0.3s,
      transform 0.2s; 
    transition-timing-function: ease-in;
  }
}
