// sizes
$menuWidth: 18rem;

// colors

$primary: #6fc1b6;
$primaryLight: #a1f4e8;
$primaryDark: #3d9086;

$text: #000000;
$textSecondary: #FFFFFF;

$background: #F5f5f5;
$backgroundLight: #FAFAFA;
$backgroundDark: #E0E0E0;

$backgroundActive: #FFFFFF;

$danger: #BA1A1A;
