
// sizes

$menuWidth: 20rem;

$headerHeight: 5rem;
$headerBorder: 0.2rem;
$headerCompiledHeight: 5.2rem;

$maxContentWidth: 110rem;

// colors

$primary: #6fc1b6;
$primaryLight: #a1f4e8;
$primaryDark: #3d9086;

$secondary: #9fa8da;
$secondaryLight: #d1d9ff;
$secondaryDark: #6f79a8;

$text: #000000;
$textSecondary: #FFFFFF;

$background: #F5f5f5;
$backgroundLight: #FAFAFA;
$backgroundDark: #E0E0E0;

$backgroundActive: #FFFFFF;

$dangerLight: #C04A4A;
$danger: #BA1A1A;
$dangerDark: #920D0D;
