.form {
  background-color: $backgroundActive;

  width: 35rem;

  font-size: 1.6rem;
  @include mdShadow(3);

  &__content {
    padding: 1rem;
  }

  &__heading {
    margin: 0;
    margin-bottom: 3rem;

    font-size: 2.5rem;

    &--primary {
      color: $primaryDark;
    }

    &--secondary {
      color: $secondaryDark;
    }
  }

  &__group {
    position: relative;
    display: block;

    width: 95%;
    margin: 0 auto;
    margin-bottom: 4rem;
  }

  &__group-input {
    display: block;

    height: 2.5rem;
    width: 100%;

    border: none;
    outline: none;

    font-size: 1.7rem;

    &--primary {
      border-bottom: 0.2rem solid $primary;
    }

    &--secondary {
      border-bottom: 0.2rem solid $secondary;
    }
  }

  &__group-name {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: all 0.15s ease-out;

    &--primary {
      color: $primaryDark;
    }

    &--secondary {
      color: $secondaryDark;
    }
  }

  &__group-input:focus + &__group-name,
  &__group-input--has-value + &__group-name {
    top: -1.5rem;
    font-size: 1.2rem;
  }


  // label.form__group div.form__group-error {
  //   display: flex !important;
  // }

  &__group-error {
    display: none;
    align-items: center;
    padding: 0.5rem;
    width: 95%;
    margin: 0 auto;
    margin-top: 0.5rem;

    background-color: $dangerLight;
    color: $textSecondary;

    font-size: 1.4rem;

    @include mdShadow(1);
  }

  &__group-error--active {
    display: flex;
  }

  &__group-error-name {
    margin-left: 0.3rem;
  }

  &__error {
    padding: 1rem;

    background-color: $dangerLight;
    color: $textSecondary;
    
    @include mdShadow(1);
  }

  &__error-title {
    margin: 0;

    font-size: 1.6rem;
  }

  &__error-info {
    margin: 0;
    margin-top: 0.5rem;

    font-size: 1.5rem;
  }

  &__submit {
    display: block;

    margin: 1rem;
    margin-left: auto;
    height: 3rem;

    &--primary {
      @include saveButtonPrimary();
    }

    &--secondary {
      @include saveButtonSecondary();
    }
  }
}
