.home {
  padding: 0;
  height: 100%;
  // min-height: calc(100% - #{$headerHeight});

  &__content {
    // height: calc(100vh - #{$headerHeight});
    height: 100%;
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    height: 40vh;
    min-height: 20rem;

    text-align: center;
    overflow: hidden;

    background-color: rgba(27, 105, 90, 0.31);

    &::before {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;

      background-image: url('../images/header-bg-stock.jpg');
      background-size: cover;
      background-position: center;

      transform: scale(1.5);
      transition:
        transform 0.5s,
        filter 0.5s;
      transition-timing-function: cubic-bezier(0.47, -0.09, 0.48, 1.03);
    }

    &--blur::before {
      filter: blur(1rem);
      transform: scale(1.05);
      z-index: 0;
    }
  }

  &__header-heading {
    z-index: 1;

    margin: 0;

    font-size: 4rem;
    color: $textSecondary;
    text-shadow: 0.3rem 0.3rem $primaryDark;

    @include atSmall() {
      font-size: 5rem;
    }
  }

  &__header-para {
    z-index: 1;

    margin: 0.5rem;

    font-size: 1.6rem;
    color: $textSecondary;

    @include atSmall() {
      font-size: 2rem;
    }
  }

  &__links {
    @include atMedium() {
      display: flex;
      // justify-content: space-around;
    }

    height: calc(60vh - #{$headerHeight});
    // height: 100%;
  }

  &__links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    // min-height: 18rem;
    width: 100%;
  }

  &__links-container--primary {
    background-color: $primary;
  }

  &__links-container--secondary {
    background-color: $secondary;
  }

  &__links-heading {
    text-align: center;
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
    color: $textSecondary;

    @include atSmall() {
      font-size: 2.6rem;
    }
  }

  &__links-heading--primary {
    text-shadow: 0.2rem 0.2rem $primaryDark;
  }

  &__links-heading--secondary {
    text-shadow: 0.2rem 0.2rem $secondaryDark;
  }

  &__links-button {
    display: block;

    width: 13rem;
    height: 4rem;

    padding: 1rem;
    margin: 0 auto;
    // margin-bottom: 15rem;

    @include atMedium() {
      margin-bottom: 15rem;
    }

    text-decoration: none;
    font-size: 1.8rem;
    text-align: center;
    color: $text;

    background-color: $backgroundActive;
    transition: 
      background-color 0.3s,
      box-shadow 0.3;
    transition-timing-function: ease-in;

    @include mdShadow(3);

    &:focus,
    &:hover {
      color: $textSecondary;
      @include mdShadow(4);
    }
  }

  &__links-button--primary {
    color: $primaryDark;

    &:focus,
    &:hover {
      background-color: $primaryDark;
    
    }
  }

  &__links-button--secondary {
    color: $secondaryDark;

    &:focus,
    &:hover {
      background-color: $secondaryDark;
    }
  }

}