.menu {
  position: fixed;
  display: none;
  z-index: 10;

  width: $menuWidth;
  height: 100vh;

  overflow-y: auto;
  
  background-color: $backgroundActive;
  color: $textSecondary;
  @include mdShadow(4);

  transform: translateX(#{-$menuWidth});
  transition: transform 0.25s ease;

  &--active {
    display: block;
  }

  &--open {
    transform: translateX(0);
  }

  &__heading {
    margin: 0;
    padding: 1rem;
    height: 5rem;

    border-bottom: 0.15rem solid $primary;
    background-color: $primaryDark;

    text-align: center;
    font-size: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    height: calc(100% - #{$headerHeight});

    list-style: none;
  }
}


