.menu {
  position: fixed;
  display: none;
  z-index: 1;

  width: $menuWidth;
  height: 100%;
  
	top: 0;
  left: -$menuWidth;

  background-color: $primaryDark;
  @include mdShadow(1);

  transition: left 0.25s ease;

  color: $textSecondary;

  &--active {
    display: block;
  }

  &--open {
    left: 0;
  }

  &__heading {
    margin: 0;
    padding: 1rem;
    height: 5rem;

    border-bottom: 0.15rem solid $backgroundLight;

    text-align: center;
    font-size: 2rem;
  }

  &__content {
    padding: 0;

    list-style: none;
  }
}


