.menu {
  position: fixed;
  display: none;
  z-index: 1;

  width: $menuWidth;
  min-height: calc(100% - #{$headerHeight});
  height: 100%;
  // overflow-y: auto;
  
	top: 0;
  left: 0;
  transform: translateX(#{-2 * $menuWidth});

  background-color: $backgroundActive;
  @include mdShadow(1);

  transition: transform 0.25s ease;

  color: $textSecondary;

  &--active {
    display: block;
  }

  &--open {
    transform: translateX(#{-$menuWidth});
  }

  &__heading {
    margin: 0;
    padding: 1rem;
    height: 5rem;

    border-bottom: 0.15rem solid $primary;
    background-color: $primaryDark;

    text-align: center;
    font-size: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    height: calc(100% - #{$headerHeight});
    // height: calc(100% + #{$headerHeight});

    list-style: none;
  }
}


