.menu-item {
  font-size: 1.45rem;
  transition: background-color 0.15s ease-in;

  &:hover {
    
    .menu-item__link,
    .menu-item--accordion__label {
      background-color: $primaryDark;
      color: $textSecondary;
    }
  }

  &--last {
    margin-top: auto;
  }

  &--accordion__input:checked + &--accordion__label,
  &--accordion__input:focus + &--accordion__label {
    background-color: $primaryDark;
    color: $textSecondary;
  }

  &--accordion__input:checked + &--accordion__label .expanded-text {
    display: inline;
  }

  &--accordion__input:not(:checked) + &--accordion__label .expanded-text {
    display: none;
  }

  &--accordion__input:checked + &--accordion__label .collapsed-text {
    display: none;
  }

  &--accordion__input:not(:checked) + &--accordion__label .collapsed-text {
    display: inline;
  }

  &--accordion__input:checked ~ &--accordion__menu {
    // open state
    max-height: 99rem;
    visibility: visible;
    transition: 
      max-height 0.25s
      visibility 0s 0.25s;
      transition-timing-function: ease-in;
  }

  &--accordion__menu {
    // close state
    display: block;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 
      max-height 0.25s,
      visibility 0.25s;
    transition-timing-function: ease-out;
  }

  &--accordion__menu-content {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &--accordion__label {
    cursor: pointer;

    display: flex;
    align-items: center;

    width: 100%;
    min-height: 3rem;
    padding: 1.2rem;
    padding-left: $menuWidth - ($menuWidth / 1.35) ;

    color: $text;

    transition: background-color 0.15s ease-in;
  }

  &--accordion__menu-item {
    background-color: $background;
    transition: background-color 0.15s ease-in;

    &:hover {
      background-color: $primary;
    }

    text-align: center;

    a {
      display: block;

      width: 100%;
      height: 100%;   
      min-height: 3rem;
      
      text-decoration: none;
      line-height: 3rem;
      white-space: nowrap;
      color: $text;

      transition: background-color 0.15s ease-in;

      &:focus {
        background-color: $primary; 
      }

    }
  }

  &__link {
    display: flex;
    align-items: center;

    width: 100%;
    padding: 0.75rem;
    padding-left: $menuWidth - ($menuWidth / 1.35) ;
    // height: 3rem;

    text-decoration: none;
    line-height: 3rem;
    white-space: nowrap;
    color: $text;

    transition: background-color 0.15s ease-in;

    &:focus {
      background-color: $primaryDark;
      
      color: $textSecondary;
    }

  }

  &__icon {
    font-size: 2.1rem;
  }

  &__name {
    margin-left: 1rem;
  }
}