.note-options-share {
  padding: 1rem;

  font-size: 1.7rem;

  &__content {
    padding: 1rem;
    margin: 1rem 0;

    background-color: $secondaryLight;
    @include mdShadow(1);
  }

  &__link {
    display: block;

    font-style: normal;
    font-weight: bold;
    overflow-wrap: break-word;

    a {
      display: block;

      margin-bottom: 1rem;
      margin-top: 0.5rem;

      color: $primaryDark;

      &:hover,
      &:focus {
        color: $primary;
      }

    }
  }

  &__input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__expiration-label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  &__expiration-input {
    display: flex;
    
    input {
      border: none;
      background-color: $background;
  
      padding: 0.2rem;
      border: 0.1rem solid $secondaryDark;
      @include mdShadow(1);

      &:hover,
      &:focus {
        border-color: $secondary;
      }
    }

    button {
      cursor: pointer;
      background: none;
      border: none;

      padding: 0;

      color: $textSecondary;

      background-color: $secondaryDark;
      @include mdShadow(1);

      &:hover,
      &:focus {
        background-color: $secondary;
        color: $textSecondary;
        
      }
    }
  }

  &__button {
    @include saveButtonPrimary();

    height: 3rem;
    width: 6rem;

    // margin: 1rem;
    margin-left: auto;
  }

  // checkbox styles

  &__checkbox-input {
    position: absolute;
    left: -9999rem;
  }

  &__checkbox-input + &__checkbox-label {
    cursor: pointer;
    position: relative;
    padding-left: 2.8rem;
  }

  &__checkbox-input + &__checkbox-label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;

    width: 2rem;
    height: 2rem;

    border: 0.1rem solid $backgroundDark;
    background-color: $background;
  }

  &__checkbox-input + &__checkbox-label:after {
    content: 'check';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    overflow: hidden;

    width: 2rem;
    height: 2rem;
    

    font-family: 'Material Icons';
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga' 1;
    font-style: normal;
    text-transform: none;
    line-height: 2rem;
    font-size: 2rem;
    text-align: center;
    color: $primaryDark;

    transition: all 0.2s;
  }

  &__checkbox-input:not(:checked) + &__checkbox-label:after {
    opacity: 0;
    transform: scale(0);
  }

  &__checkbox-input:checked + &__checkbox-label:after {
    opacity: 1;
    transform: scale(1);
  }

  &__checkbox-input:disabled + &__checkbox-label:before {
    &, &:hover {
      border-color: $backgroundDark;
      background-color: $background;
    }
  }

  &__checkbox-input:disabled:checked + &__checkbox-label:after {
    color: $backgroundDark;
  }

  &__checkbox-input:disabled + &__checkbox-label {
    color : $backgroundDark;
  }

  &__checkbox-input:focus + &__checkbox-label:before {
    border : 0.1rem dotted $primary;
  }

  &__checkbox-label:hover:before {
    border : 0.1rem solid $primary;
  }

}