.note-options-delete {
  padding: 1px;

  font-size: 1.5rem;
  text-align: center;

  @include atSmall() {
    font-size: 1.7rem;
  }

  &__info {
    width: 100%;
    margin-bottom: 1rem;

    border-bottom: 0.1rem solid $danger;
    background-color: $backgroundLight;
  }

  &__button {
    display: block;
    cursor: pointer;
    border: none;
    background: none;

    height: 3rem;
    width: 5rem;
    margin: 1rem;
    margin-left: auto;

    font-size: 1.5rem;

    background-color: $danger;
    color: $textSecondary;

    @include mdShadow(2);

    &:hover,
    &:focus {
      @include mdShadow(3);
      background-color: $dangerDark;
    }

  }
  
}