.note {
  &__container {
    max-width: $maxContentWidth;
    margin: 0 auto;
  }

  &__preview {
    max-width: $maxContentWidth;
    margin: 0 auto;
    padding: 1rem;

    background-color: $backgroundActive;
    overflow-wrap: break-word;

    @include mdShadow(2);

    font-size: 1.4rem;
  }
}

