.note-nav {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0.001rem;;

  background-color: $primary;
  @include mdShadow(2);

  &__content {
    display: flex;
    justify-content: flex-start;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    font-size: 1.5rem;

    button {
      cursor: pointer;
      border: none;
      background: none;

      height: 3rem;
      min-width: 6rem;

      color: $text;

      &:hover,
      &:focus {
        @extend .btn-em;
      }
    }
    
    &--set {
      button {
        @extend .btn-em;
      }
    }
  }

 
}

.btn-em {
  background-color: $primaryDark;
  color: $textSecondary;
}