.note-options {
  max-width: 110rem;
  margin: 4rem auto;
  margin: 0 auto;

  padding-top: 1rem;
  padding-bottom: 4.5rem;

  @include atSmall() {
    padding: 0;
  }

  &__content {
    background-color: $backgroundActive;
    @include mdShadow(2);
  }

}
